.deleteButton {
  background: none;
  /* color: transparent; */
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  color: crimson;
}

.listItem {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease-in-out;
}

.listItem:hover {
  background-color: rgba(121, 125, 127, 0.8);
  transition: background-color 0.5s ease-out;
}
